body {
  font-family: 'Merriweather', serif;
}

body {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bar {
    display: none;
  }
  .start {
    display: none;
  }
  #bar {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #bar {
    display: none;
  }
  .contentbg {
    display: inline-block;
    width: 46%;
    vertical-align: bottom;
  }
  .tagline {
    display: inline-block;
  }
  .company-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .address {
    width: 30%;
    padding-left: 10px;
    margin-right: 30px;
  }
  .serv-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
    padding-top: 25px;
    width: 60%;
  }
  .options2 {
    border-radius: 7px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 33px -14px gray;
            box-shadow: 2px 2px 33px -14px gray;
    text-align: center;
    width: 22%;
    display: inline-block;
    vertical-align: baseline;
    padding-bottom: 37px;
  }
  .content1 {
    color: #4D4039;
    padding: 45px 0px 45px 210px;
  }
  .sittingboy2 {
    width: 35%;
    display: inline-block;
    vertical-align: bottom;
  }
  .options {
    width: 44%;
    display: inline-block;
  }
  .sittingboy {
    width: 76%;
    margin-left: 110px;
  }
  .tagline {
    width: 31%;
    padding-left: 120px;
  }
  .image4 {
    height: 172px;
    width: 22%;
    display: inline-block;
  }
  .image1 {
    display: inline-block;
    border-radius: 0.5em;
    height: 250px;
    width: 30%;
  }
  .form {
    width: 175;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .form div {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .contentbg {
    display: block;
  }
  .sittingboy {
    display: inline-block;
    width: 90%;
  }
  .address {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    text-align: inherit;
  }
  .info {
    width: 90%;
    margin: auto;
  }
  .options2 {
    border-radius: 7px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 33px -14px gray;
            box-shadow: 2px 2px 33px -14px gray;
    text-align: center;
    width: 50%;
    margin: 5px;
    margin: auto;
    display: block;
    padding-bottom: 30px;
  }
  .content1 {
    color: #4D4039;
  }
  .sittingboy2 {
    display: block;
    width: 40%;
    margin: auto;
  }
  .options {
    display: block;
    width: 40%;
    margin: auto;
  }
  .image4 {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  .image1 {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  .form {
    display: block;
  }
  .form div {
    width: 100%;
  }
  .tagline {
    display: block;
  }
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 15px 15px -10px gray;
          box-shadow: 0px 15px 15px -10px gray;
  z-index: 1;
}

.heading > h2 {
  padding-left: 20px;
  color: #796A5F;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar > div {
  color: #4D4039;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  background-color: #fdf0ea66;
  padding: 85px;
}

.toptagline {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  color: #4D4039;
}

.subtagline {
  font-weight: 600;
  color: #796A5F;
}

.tagline > h5 {
  background-color: #EB5E1E;
  padding: 7px;
  border-radius: 2px;
  color: white;
  margin: 10px;
  text-align: center;
  margin-top: 40px;
  width: 35%;
}

.start {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4em;
  color: white !important;
  background-color: #EB5E1E;
}

.square0 {
  height: 16px;
  width: 16px !important;
  background-color: white;
  border: 3px solid #EB5E1E !important;
  margin-top: 10px;
}

.form div h4 {
  color: #4D4039;
  margin-top: 8px;
  margin-bottom: 0px;
}

.form div p {
  color: #796A5F;
  margin-top: 8px;
}

.options > h2 {
  color: #4D4039;
  font-size: 2em;
  text-align: left;
}

#option1 {
  height: 22px;
  width: 22px;
  position: relative;
  left: 65px;
}

#option1a {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#option2 {
  height: 22px;
  width: 22px;
  color: #EB5E1E;
  border: 3px solid #EB5E1E;
  position: relative;
  left: 65px;
}

#option2a {
  clear: left;
}

input {
  border: 1px solid #796A5F;
  width: 96%;
  padding: 10px 0px;
}

.services {
  padding-top: 50px;
}

.options2 > h5 {
  color: #4D4039;
  font-weight: normal;
}

.square {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 4px solid #EB5E1E;
  margin: auto;
  margin-top: 20px;
}

.content2 {
  background-color: #FEF7F5;
  padding-bottom: 90px;
}

.container3 h4 {
  color: #4d3f36;
  font-size: large;
}

.header3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
  margin: auto;
  padding-top: 90px;
}

#card {
  color: #EB5E1E;
}

.image {
  width: 77%;
  margin: auto;
  padding: 50px 0px;
}

.content4 {
  background-color: #FEF7F5;
  padding-top: 50px;
  padding-bottom: 40px;
}

.subheading {
  margin: auto;
  text-align: center;
  color: #796A5F;
  font-size: 22px;
  font-weight: bold;
}

.description {
  margin: 0px;
  text-align: center;
  color: #4D4039;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 12px;
}

.line {
  width: 3%;
  border: 2px solid #EB5E1E;
  background-color: #EB5E1E;
  margin: auto;
  margin-top: 11px;
}

.questions {
  width: 56%;
  margin: auto;
  font-weight: bold;
  font-size: 21px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.square1 {
  display: inline-block;
  margin: 4px;
  margin-top: 13px;
  height: 8px;
  width: 8px;
  background-color: white;
  border: 2px solid #4D4039;
}

#orngbox {
  border: 2px solid #EB5E1E;
}

.que {
  margin: 5px;
  display: inline-block;
}

.que div {
  margin: 5px;
}

#orange {
  color: #EB5E1E;
}

.content5 {
  padding-top: 20px;
}

.content6 {
  height: 150px;
  background-color: #FEF7F5;
  padding: 33px 0px 70px 0px;
}

.dot {
  margin: auto;
  color: blue;
}

h2 {
  text-align: center;
  color: #796A5F;
}

h1 {
  text-align: center;
  color: #4D4039;
}

.content7 {
  padding-bottom: 50px;
}

.header4 {
  text-align: center;
  height: 100px;
}

.header4 .subheading {
  padding-top: 25px;
}

.company-details {
  padding-top: 55px;
}

.address {
  -webkit-box-shadow: 0px 0px 5px 0px gray;
          box-shadow: 0px 0px 5px 0px gray;
  border-top: 2px solid #EB5E1E;
  border-bottom: 2px solid #EB5E1E;
}

.info {
  -webkit-box-shadow: 0px 0px 5px 0px gray;
          box-shadow: 0px 0px 5px 0px gray;
  border-top: 2px solid #EB5E1E;
  border-bottom: 2px solid #EB5E1E;
  padding-bottom: 40px;
}

.info form {
  padding-left: 10px;
  margin: 10px 0px;
}

.client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.client-info > div {
  margin: 3px;
  width: 50%;
}

.address1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.address1 > h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.square2 {
  background-color: white;
  border: 3px solid #EB5E1E;
  margin-top: 8px;
  height: 15px;
  width: 15px;
}

.ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.a {
  margin-left: 10px;
}

.address h3 {
  margin-top: 2px;
  color: #4D4039;
}

.address h5 {
  font-weight: 100;
}

h3 {
  margin-top: 27px;
  margin-bottom: 3px;
}

h5 {
  margin: 0px;
  color: #796A5F;
  font-size: inherit;
}

.client-msg input {
  width: 97.5%;
}

.Message > input {
  height: 100px;
}

.button {
  border-radius: 0.3em;
  width: 22%;
  padding: 6px 0px;
  margin: auto;
  text-align: center;
  background-color: #EB5E1E;
  color: white;
  margin-top: 55px;
}

.content8 {
  background-color: #FEF7F5;
  padding-bottom: 40px;
  padding-top: 25px;
}

.h4 {
  color: #4D4039;
  text-align: center;
  padding-bottom: 30px;
}

.header5 {
  margin-top: 10px;
}

.subscribe {
  display: inline-block;
  width: 100%;
}

.subscribe label {
  background-color: #EB5E1E;
  color: white;
  padding: 11px;
  border-radius: 5px;
}

.subscribe input {
  border: 1px solid darkgray;
  width: 30%;
}

.subscribe > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}
/*# sourceMappingURL=des.css.map */